  @import url('https://fonts.googleapis.com/css2?family=Lora&family=PT+Sans:wght@700&family=Shantell+Sans:ital,wght@0,300;1,300&display=swap');
/* 
font-family: 'Lora', serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Shantell Sans', cursive; */
*{
  padding: 0px;
  margin:0px;
}

.img-container{
  height: 20rem;
  width:100%;
  /* border: solid red; */
  position: relative;
}
#mainImg{
  height: 100%;
  width:100%;
}
.img-container-logo{
  height:55px;
  width:60px;
  position: absolute;
  top:5%;
  left: 50%;
  /* border: solid; */
}
.img-container-logo img{
  height: 100%;
  width:100%;
}
.img-container-txt{
  /* height: 50px; */
  width:100%;
  /* border: solid; */
  position: absolute;
  top: 22%;
  /* left:25%; */
}
.img-container-txt p{
  font-size:60px;
  color:#5c161d;
  /* font-family: 'PT Sans', sans-serif; */
  font-weight: bolder;
  text-align: center;
  
  text-shadow: 2px 2px 2px gray;
  
}
.img-container-txt2{
  position: absolute;
  width:100%;
  /* border: solid; */
  top:41%;
}
.img-container-txt2 p{
  text-align: center;
}
.navigation{
  height: 50px;
  width: 100%;
  border: solid black;
  background-color: grey;
  
}
.logo{
  display: flex;
}
.logo1{
  height:50px;
  width:50px;
  border:solid;
}
.logo1 img{
  height: 100%;
  width:100%;
}
.logo2{
  height: 50px;
  width:200px;
  border:solid;
}
.logo2 img{
  height:100%;
  
}